=provide(:title, t('nav.contact_link'))

%h1=t('titles.contact_page')

%p Email: #{mail_to('ypanovyk@gmail.com')}

%p Github: #{link_to('http://github.com/ypanovyk', 'http://github.com/ypanovyk')}

%p LinkedIn: #{link_to('http://www.linkedin.com/in/yuriypanovyk', 'http://www.linkedin.com/in/yuriypanovyk')}
