%div.center.hero-unit

  =link_to image_tag("tictac.jpg", alt:"tic tac toe", class: "home-image"), "http://en.wikipedia.org/wiki/Tic-tac-toe"

  %h4=t('titles.home_page') 

  =link_to t('nav.sign_up_button'), signup_path, class:"btn btn-large btn-primary"


