<div class="center hero-unit">
  <%= link_to image_tag("tictac.jpg", alt:"tic tac toe", class: "home-image"), "http://en.wikipedia.org/wiki/Tic-tac-toe" %>
  <h4>Welcome to the Tic Tac Toe game</h4>

  <%= link_to "Sign up now!", signup_path, class:"btn btn-large btn-primary" %>
</div>
