%tr{class:"#{game.closed? ? 'closed':''}"}
  %td=game.id
  %td=username(game.creator)
  %td=username(game.participant)
  %td=game.status
  %td=username(game.winner)
  - if game.status=='new' && game.creator != current_user.id 
    %td=link_to("Join game", join_game_path(game), class:"btn btn-mini btn-success")
  - else
    %td

