- provide(:title, "Games")
%h1 All games
.span6
  %table.games-table{border:'1'}
    %tr
      %th Game id
      %th Creator
      %th Participant
      %th Status
      %th Winner
      %th Actions
    = will_paginate
    = render @games
    - #TODO add bottom page pagination control
