%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container{style:"width:480px;"}
      =link_to "tic tac toe", root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li=link_to t('nav.home_link'), root_path
          - if signed_in?
            %li=link_to t('nav.users_link'), users_path
            %li.dropdown#fat-menu
              %a.dropdown-toggle{data:{toggle:'dropdown'}, href:'#'}
                Account
                %b.caret
              %ul.dropdown-menu
                %li=link_to t('nav.profile_link'), current_user
                %li=link_to t('nav.settings_link'), edit_user_path(current_user)
                %li.divider
                %li=link_to t('nav.sign_out_link'), signout_path, method: "delete"
          - else
            %li=link_to t('nav.sign_in_link'), signin_path

